In [2]:
# Bibliotecas necessárias
from haversine import haversine
import plotly.express as px
import plotly.graph_objects as go

import pandas as pd
import streamlit as st
from streamlit_folium import folium_static
import datetime
from PIL import Image
import folium
import inflection

2026-02-18 17:47:00.472 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [3]:
# Importando o dataset
df = pd.read_csv( 'dataset/zomato.csv')
df1 = df.copy()

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7527 entries, 0 to 7526
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         7527 non-null   int64
 1   Restaurant Name       7527 non-null   object
 2   Country Code          7527 non-null   int64
 3   City                  7527 non-null   object
 4   Address               7527 non-null   object
 5   Locality              7527 non-null   object
 6   Locality Verbose      7527 non-null   object
 7   Longitude             7527 non-null   float64
 8   Latitude              7527 non-null   float64
 9   Cuisines              7512 non-null   object
 10  Average Cost for two  7527 non-null   int64
 11  Currency              7527 non-null   object
 12  Has Table booking     7527 non-null   int64
 13  Has Online delivery   7527 non-null   int64
 14  Is delivering now     7527 non-null   int64
 15  Switch to order menu  7527 non-null   int64
 16  Price range           7527 non-null   int64
 17  Aggregate rating      7527 non-null   float64
 18  Rating color          7527 non-null   object
 19  Rating text           7527 non-null   object
 20  Votes                 7527 non-null   int64
dtypes: float64(3), int64(9), object(9)
memory usage: 1.2+ MB

In [5]:
df1.isnull().sum()

Restaurant ID            0
Restaurant Name          0
Country Code             0
City                     0
Address                  0
Locality                 0
Locality Verbose         0
Longitude                0
Latitude                 0
Cuisines                15
Average Cost for two     0
Currency                 0
Has Table booking        0
Has Online delivery      0
Is delivering now        0
Switch to order menu     0
Price range              0
Aggregate rating         0
Rating color             0
Rating text              0
Votes                    0
dtype: int64

In [6]:
df1[df1.isnull().any(axis=1)]

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
1147,16983968,Carson Kitchen,216,Las Vegas,124 South 6th Street 89101,Downtown,"Downtown, Las Vegas",-115.140650,36.171460,NaN,...,Dollar($),0,0,0,0,3,4.3,5BA829,Very Good,73
1172,16980323,Spice Market Buffet,216,Las Vegas,"3667 Las Vegas Boulevard S, Las Vegas 89109",The Strip,"The Strip, Las Vegas",-115.172820,36.110770,NaN,...,Dollar($),0,0,0,0,4,3.9,9ACD32,Good,226
1225,16834710,Ink,216,Los Angeles,"8360 Melrose Ave, Los Angeles 90069","Melrose Avenue, Melrose","Melrose Avenue, Melrose, Los Angeles",-118.372374,34.083367,NaN,...,Dollar($),0,0,0,0,4,4.3,5BA829,Very Good,147
1435,17245826,Dat Dog,216,New Orleans,"5030 Freret St, New Orleans 70115",Uptown,"Uptown, New Orleans",-90.108979,29.934976,NaN,...,Dollar($),0,0,0,0,2,4.6,3F7E00,Excellent,620
3571,18746111,Basement Lounge & Bistro,1,Gangtok,"Tibet Road, Arithang, Gangtok",Arithang,"Arithang, Gangtok",88.613024,27.328390,NaN,...,Indian Rupees(Rs.),0,0,0,0,2,0.0,CBCBC8,Not rated,2
3584,18746688,Fusion Restaurant,1,Gangtok,"Convoy Ground, Opposite SBI, Tadong, Gangtok",Tadong,"Tadong, Gangtok",88.602388,27.317958,NaN,...,Indian Rupees(Rs.),0,0,0,0,1,0.0,CBCBC8,Not rated,3
3603,16500336,Hotel Tashi Delek,1,Gangtok,"New Market, MG Marg, Vishal Gaon, Gangtok",Vishal Gaon,"Vishal Gaon, Gangtok",88.611945,27.326077,NaN,...,Indian Rupees(Rs.),0,0,0,0,2,3.2,CDD614,Average,7
3631,18746149,Doma Restaurant & Bar,1,Gangtok,"New Market, MG Marg, Vishal Gaon, Gangtok",Vishal Gaon,"Vishal Gaon, Gangtok",88.611943,27.326238,NaN,...,Indian Rupees(Rs.),0,0,0,0,1,0.0,CBCBC8,Not rated,1
3634,16500327,Hotel Dongkhela,1,Gangtok,"Hotel Dongkhela, New Market, MG Marg, Vishal G...",Vishal Gaon,"Vishal Gaon, Gangtok",88.611835,27.325526,NaN,...,Indian Rupees(Rs.),0,0,0,0,2,0.0,CBCBC8,Not rated,1
3646,16500334,Seekhs & Kebabs,1,Gangtok,"Lal Market Road, M.G Marg, Vishal Gaon, Gangtok",Vishal Gaon,"Vishal Gaon, Gangtok",88.612013,27.326965,NaN,...,Indian Rupees(Rs.),0,0,0,0,1,0.0,CBCBC8,Not rated,2
3648,16500306,Sonny's​ Oasis Cafe,1,Gangtok,"New Market, MG Road, Vishal Gaon, Gangtok",Vishal Gaon,"Vishal Gaon, Gangtok",88.611852,27.325426,NaN,...,Indian Rupees(Rs.),0,0,0,0,2,0.0,CBCBC8,Not rated,3
3649,16500306,Sonny's​ Oasis Cafe,1,Gangtok,"New Market, MG Road, Vishal Gaon, Gangtok",Vishal Gaon,"Vishal Gaon, Gangtok",88.611852,27.325426,NaN,...,Indian Rupees(Rs.),0,0,0,0,2,0.0,CBCBC8,Not rated,3
3655,16500331,Unique Sweets & Snacks,1,Gangtok,"M.G Marg, Vishal Gaon, Gangtok",Vishal Gaon,"Vishal Gaon, Gangtok",88.612162,27.326914,NaN,...,Indian Rupees(Rs.),0,0,0,0,1,0.0,CBCBC8,Not rated,1
5626,18704230,Himani's Restaurant & Bar,1,Shimla,"48, Above Woodland",Summer Hill,"Summer Hill, Shimla",77.173655,31.104436,NaN,...,Indian Rupees(Rs.),0,0,0,0,3,3.2,CDD614,Average,15
5627,18704230,Himani's Restaurant & Bar,1,Shimla,"48, Above Woodland",Summer Hill,"Summer Hill, Shimla",77.173655,31.104436,NaN,...,Indian Rupees(Rs.),0,0,0,0,3,3.2,CDD614,Average,15

In [7]:
df1 = df1.dropna()
df1.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [8]:
# Funções e Dicionários
COUNTRIES = {
1: "India",
14: "Australia",
30: "Brazil",
37: "Canada",
94: "Indonesia",
148: "New Zeland",
162: "Philippines",
166: "Qatar",
184: "Singapure",
189: "South Africa",
191: "Sri Lanka",
208: "Turkey",
214: "United Arab Emirates",
215: "England",
216: "United States of America"}

def country_name(country_id):
    return COUNTRIES.get(country_id, "Unknown")
# ---------------------------------------------------------
COLORS = {
    "3F7E00": "darkgreen",
    "5BA829": "green",
    "9ACD32": "lightgreen",
    "CDD614": "orange",
    "FFBA00": "red",
    "CBCBC8": "darkred",
    "FF7800": "darkred",
}

def color_name(color_code):
    return COLORS(color_code)
# ---------------------------------------------------------
def create_price_type(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"
# ---------------------------------------------------------
def rename_columns(df):
    df1 = df.copy()

    df1.columns = (
        df1.columns
        .str.strip()
        .str.lower()
        .str.replace(' ', '_')
    )
    return df1

In [9]:
df1 = rename_columns(df1)

df1['cores'] = df1['rating_color'].map(COLORS).fillna('Unknown')
df1['country'] = df1['country_code'].map(COUNTRIES).fillna('Unknown')
df1['price_range'] = df1['price_range'].map(create_price_type)
df1["cuisines"] = df1["cuisines"].astype(str).apply(lambda x: x.split(",")[0])

In [10]:
# Perguntas Gerais
restaurantes_unicos = df1['restaurant_id'].nunique()
#------------------------------------------
paises_unicos = df1['country'].nunique()
#------------------------------------------
cidades_unicas = df1['city'].nunique()
#------------------------------------------
total_avaliacoes = f"{df1['votes'].sum():,}".replace(",", ".")
#------------------------------------------
culinaria = df1['cuisines'].nunique()

# Visão País
pais_qtd_cidades = (
    df1.groupby('country')['city']
       .nunique()
       .sort_values(ascending=False)
       .reset_index()
)
#------------------------------------------
pais_qtd_restaurantes = (
    df1.groupby('country')['restaurant_id']
       .nunique()
       .sort_values(ascending=False)
       .reset_index()
)
#------------------------------------------
pais_qtd_restaurantes_gourmet = (
    df1[df1['price_range'] == 'gourmet']
         .groupby('country')
         .size()
         .sort_values(ascending=False)
         .reset_index()
         .head(1)
)
#------------------------------------------
pais_maior_qtd_tipos_culinarios_ = (
    df1.groupby('country')['cuisines']
       .nunique()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#------------------------------------------
pais_qtd_avaliacoes = (
    df1.groupby('country')['aggregate_rating']
       .count()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#------------------------------------------
pais_qtd_delivery = (
    df1.groupby('country')['is_delivering_now']
       .count()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#------------------------------------------
pais_qtd_reserva = (
    df1.groupby('country')['has_table_booking']
       .count()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#------------------------------------------
pais_media_avaliacoes_registradas = (
    df1.groupby('country')['votes']
       .mean()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#------------------------------------------
pais_maior_nota_media = (
    df1.groupby('country')['aggregate_rating']
       .mean()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#------------------------------------------
pais_menor_nota_media = (
    df1.groupby('country')['aggregate_rating']
       .mean()
       .sort_values(ascending=True)
       .reset_index()
       .head(1)
)
#------------------------------------------
pais_media_custo_para_dois = (
    df1.groupby('country')['average_cost_for_two']
       .mean()
       .sort_values(ascending=False)
       .reset_index()
)

# Cidade
cidade_qtd_restaurantes_cadastrados = (
    df1.groupby('city')
       .agg(total_restaurantes=('restaurant_id', 'nunique'),
                    menor_id=('restaurant_id', 'min'))
       .sort_values(by=['total_restaurantes', 'menor_id'],
                    ascending=[False, True])
       .reset_index()
       .head(1)
)
#------------------------------------------
cidade_restaurante_nota_maior_4 = (
    df1[df1['aggregate_rating'] > 4].groupby('city')['restaurant_id']
                                    .count()
                                    .sort_values(ascending=False)
                                    .reset_index()
                                    .head(1)
)
#------------------------------------------
cidade_restaurante_nota_menor_25 = (
    df1[df1['aggregate_rating'] < 2.5].groupby('city')['restaurant_id']
                                    .count()
                                    .sort_values(ascending=False)
                                    .reset_index()
                                    .head(1)
)
#------------------------------------------
cidade_maior_valor_prato_p_dois = (
    df1.groupby('city')['average_cost_for_two']
       .mean()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#------------------------------------------
cidade_tipos_culinarios = (
    df1.groupby('city')['cuisines']
       .nunique()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#------------------------------------------
cidade_restaurantes_fazem_reserva = (
    df1[df1['has_table_booking'] == 1]
       .groupby('city')['restaurant_id']
       .nunique()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#------------------------------------------
cidade_restaurantes_fazem_delivery = (
    df1[df1['is_delivering_now'] == 1]
       .groupby('city')['restaurant_id']
       .nunique()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#------------------------------------------
cidade_restaurantes_delivery_online = (
    df1[df1['has_online_delivery'] == 1]
       .groupby('city')['restaurant_id']
       .nunique()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)

# Restaurantes
restaurante_maior_qtd_avaliacoes = (
    df1.groupby('restaurant_name')['votes']
       .max()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#------------------------------------------
restaurante_maior_nota_media = (
    df1.groupby('restaurant_name')[['aggregate_rating', 'votes']]
       .mean()
       .sort_values(by=['aggregate_rating', 'votes'],ascending=False)
       .reset_index()
       .head(1)
)
#------------------------------------------
restaurante_maior_valor_prato_p_dois = (
    df1.groupby('restaurant_name')['average_cost_for_two']
       .max()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#------------------------------------------
restaurante_brasileiro_menor_media_avaliacao = (
    df1[df1['cuisines'] == 'Brazilian']
       .groupby('restaurant_name')
       .agg(media_avaliacoes=('aggregate_rating', 'mean'),
            menor_id=('restaurant_id', 'min'))
       .sort_values(by=['media_avaliacoes', 'menor_id'], ascending=[True, True])
       .reset_index()
       .head(1)
)
#---------------------------------------------------------
restaurante_brasileiro_maior_media_avaliacao = (
    df1[
        (df1['cuisines'] == 'Brazilian') & 
        (df1['country'] == 'Brazil')
       ]
    .groupby('restaurant_name')
    .agg(
         media_avaliacoes=('aggregate_rating', 'mean'),
         menor_id=('restaurant_id', 'min')
        )
    .sort_values(by=['media_avaliacoes','menor_id'],ascending=[False, True])
    .reset_index()
    .head(1)
)
#---------------------------------------------------------
restaurante_delivery_maior_media_avaliacao = (
    df1.groupby('has_online_delivery')['votes']
       .mean()
       .sort_values(ascending=False)
       .reset_index()
)
#---------------------------------------------------------
restaurante_reserva_maior_preco_p_dois = (
    df1.groupby('has_table_booking')['average_cost_for_two']
       .mean()
       .sort_values(ascending=False)
       .reset_index()
)
#---------------------------------------------------------
restaurante_japanese_bbq_valor_medio_p_dois = (
    df1[
        (df1['country'] == 'United States of America') &
        (df1['cuisines'].isin(['Japanese', 'BBQ']))
       ]
    .groupby('cuisines')['average_cost_for_two']
    .mean()
    .sort_values(ascending=False)
    .reset_index()
)

# Culinaria
culinaria_italiana_menor_media_avaliacao = (
    df1[df1['cuisines'] == 'Italian']
    .groupby('restaurant_name')
    .agg(
        media_avaliacoes=('aggregate_rating', 'mean'),
        menor_id=('restaurant_id', 'min')
       )
    .sort_values(by=['media_avaliacoes', 'menor_id'], ascending=[True, True])
    .reset_index()
    .head(1)
)
#---------------------------------------------------------
culinaria_italiana_maior_media_avaliacao = (
    df1[df1['cuisines'] == 'Italian']
    .groupby('restaurant_name')
    .agg(
        media_avaliacoes=('aggregate_rating', 'mean'),
        menor_id=('restaurant_id', 'min')
       )
    .sort_values(by=['media_avaliacoes', 'menor_id'], ascending=[False, True])
    .reset_index()
    .head(1)
)
#---------------------------------------------------------
culinaria_americana_menor_media_avaliacao = (
    df1[df1['cuisines'] == 'American']
    .groupby('restaurant_name')
    .agg(
        media_avaliacoes=('aggregate_rating', 'mean'),
        menor_id=('restaurant_id', 'min')
       )
    .sort_values(by=['media_avaliacoes', 'menor_id'], ascending=[True, True])
    .reset_index()
    .head(1)
)
#---------------------------------------------------------
culinaria_americana_maior_media_avaliacao = (
    df1[df1['cuisines'] == 'American']
    .groupby('restaurant_name')
    .agg(
        media_avaliacoes=('aggregate_rating', 'mean'),
        menor_id=('restaurant_id', 'min')
       )
    .sort_values(by=['media_avaliacoes', 'menor_id'], ascending=[False, True])
    .reset_index()
    .head(1)
)
#---------------------------------------------------------
culinaria_arabe_menor_media_avaliacao = (
    df1[df1['cuisines'] == 'Arabian']
    .groupby('restaurant_name')
    .agg(
        media_avaliacoes=('aggregate_rating', 'mean'),
        menor_id=('restaurant_id', 'min')
       )
    .sort_values(by=['media_avaliacoes', 'menor_id'], ascending=[True, True])
    .reset_index()
    .head(1)
)
#---------------------------------------------------------
culinaria_arabe_maior_media_avaliacao = (
    df1[df1['cuisines'] == 'Arabian']
    .groupby('restaurant_name')
    .agg(
        media_avaliacoes=('aggregate_rating', 'mean'),
        menor_id=('restaurant_id', 'min')
       )
    .sort_values(by=['media_avaliacoes', 'menor_id'], ascending=[False, True])
    .reset_index()
    .head(1)
)
#---------------------------------------------------------
culinaria_japonesa_menor_media_avaliacao = (
    df1[df1['cuisines'] == 'Japanese']
    .groupby('restaurant_name')
    .agg(
        media_avaliacoes=('aggregate_rating', 'mean'),
        menor_id=('restaurant_id', 'min')
       )
    .sort_values(by=['media_avaliacoes', 'menor_id'], ascending=[True, True])
    .reset_index()
    .head(1)
)
#---------------------------------------------------------
culinaria_japonesa_maior_media_avaliacao = (
    df1[df1['cuisines'] == 'Japanese']
    .groupby('restaurant_name')
    .agg(
        media_avaliacoes=('aggregate_rating', 'mean'),
        menor_id=('restaurant_id', 'min')
       )
    .sort_values(by=['media_avaliacoes', 'menor_id'], ascending=[False, True])
    .reset_index()
    .head(1)
)
#---------------------------------------------------------
culinaria_caseira_menor_media_avaliacao = (
    df1[df1['cuisines'] == 'Home-made']
    .groupby('restaurant_name')
    .agg(
        media_avaliacoes=('aggregate_rating', 'mean'),
        menor_id=('restaurant_id', 'min')
       )
    .sort_values(by=['media_avaliacoes', 'menor_id'], ascending=[True, True])
    .reset_index()
    .head(1)
)
#---------------------------------------------------------
culinaria_caseira_maior_media_avaliacao = (
    df1[df1['cuisines'] == 'Home-made']
    .groupby('restaurant_name')
    .agg(
        media_avaliacoes=('aggregate_rating', 'mean'),
        menor_id=('restaurant_id', 'min')
       )
    .sort_values(by=['media_avaliacoes', 'menor_id'], ascending=[False, True])
    .reset_index()
    .head(1)
)
#---------------------------------------------------------
culinaria_maior_valor_medio_p_dois = (
    df1.groupby('cuisines')['average_cost_for_two']
       .mean()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#---------------------------------------------------------
culinaria_maior_nota_media = (
    df1.groupby('cuisines')['aggregate_rating']
       .mean()
       .sort_values(ascending=False)
       .reset_index()
       .head(1)
)
#---------------------------------------------------------
culinaria_mais_delivery_online = (
    df1[
        (df1['has_online_delivery'] == 1) &
        (df1['is_delivering_now'] == 1)
       ]
    .groupby('cuisines')['restaurant_id']
    .nunique()
    .sort_values(ascending=False)
    .reset_index()
    .head(1)
)